<!doctype html>
<title>aliyun-exporter</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div>
    <table style="width: 100%;">
        <tr>
            <th>Namespace</th>
            <th>Description</th>
            <th>Labels</th>
        </tr>
    {% for namespace in namespaces %}
        <tr>
            <td><a href="/namespaces/{{ namespace['Namespace'] }}">{{ namespace['Namespace'] }}</a></td>
            <td>{{ namespace['Description'] }}</td>
            <td>{{ namespace['Labels'] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
